.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #242424;
  padding: 2rem 0;

  .social-media {
    max-width: 1000px;
    width: 100%;

    .social-media-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1000px;
      margin: auto;

      .social-logo {
        color: #fff;
        justify-self: start;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        img {
          width: 60px;
        }
      }

      .coolblue-rights {
        font-size: 1.4rem;
        font-weight: 600;
        color: #fff;
      }

      .social-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-icon-link {
          color: #fff;
          font-size: 2.4rem;
          margin: 0 1.4rem;

          transition: $transition-color;

          &:hover,
          &:focus {
            color: $brand-primary;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .social-media-wrap {
    flex-direction: column;
  }

  .coolblue-rights {
    margin: 2rem 0;
  }
}
