.navbar {
  position: sticky;

  top: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $brand-secondary;
  &--deployed {
    background-color: $brand-primary;
  }

  transition: $transition-background;

  height: 8rem;

  font-size: 1.2rem;

  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;

    .navbar-logo {
      color: #fff;
      justify-self: start;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      align-items: center;

      &-img {
        //height: stretch;
        height: -webkit-fill-available;
        width: fit-content;
      }
    }

    .menu-icon {
      display: none;
      &--opened .menu-icon-item {
        font-size: 2rem;
      }

      &-item {
        color: #fff;
      }
    }

    .nav-menu {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 10px;
      list-style: none;
      text-align: center;
      width: 60vw;
      justify-content: end;
      margin-right: 2rem;
      margin-bottom: 0;
      margin-top: 0;

      .nav-item {
        height: 80px;

        .nav-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 0.5rem 1rem;
          height: 100%;
          color: #fff;
          font-weight: 700;
          font-size: 1.6rem;

          &:hover,
          &:focus,
          &--active {
            border-bottom: 4px solid #fff;
            transition: all 0.2s ease-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    .navbar-container {
      .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-2rem, 3rem);
        font-size: 1.8rem;
        cursor: pointer;
      }

      .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.25s ease-out;

        grid-gap: 0;

        &.active {
          background: $brand-default;
          left: 0;
          opacity: 1;
          transition: all 0.25s ease-out;
          z-index: 1;
        }

        .nav-item {
          .nav-link {
            justify-content: center;
            border-bottom: 2px solid transparent;

            &:hover,
            &:focus {
              background-color: darken($brand-default, 5%);
              color: $white;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
