.products__loader {
  position: absolute;
  text-align: center;
  width: 100%;
}

.products__results__container {
  @extend .container;
  align-items: center;
  justify-content: center;

  margin-bottom: 5rem;

  .products__bg-icon {
    font-size: 20rem;
    color: #e6e6e6;
    margin-top: 20rem;
  }

  .products-list__wrapper {
    position: relative;

    .products__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin-bottom: 2.4rem;
    }
  }
}
