@mixin shadow-default {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(205,219,229,0.73);
    -moz-box-shadow: 0px 5px 10px 0px rgba(205,219,229,0.73);
    box-shadow: 0px 5px 10px 0px rgba(205,219,229,0.73);
}

@mixin shadow-high {
    -webkit-box-shadow: 0px 15px 20px 0px rgba(65,65,65,0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(65,65,65,0.1);
    box-shadow: 0px 15px 20px 0px rgba(65,65,65,0.1);
}