//== Gray Shades
$gray-darker:                                       #222222;
$gray-dark:                                         #333333;
$gray:                                              #555555;
$gray-light:                                        #9DA0BE;
$gray-primary:                                      #DCE7EB;
$gray-lighter:                                      #F4F5FA;
$white:                                             #FFFFFF;

//== Brand Colors
$brand-default: 									#283439;
$brand-primary: 									#ff6600;
$brand-secondary: 									#0090e3;
$brand-inverse: 								    #354b58;;
$brand-info: 										#48b0f7;
$brand-success: 									#00b900;
$brand-warning: 									#f99b1d;
$brand-danger: 										#ed1c24;

// Used for other variables
$default-border-color:                              $gray-primary;

//== UI

// Topbar
$topbar-bg:                                         #0090e3;

//Cards 
$card-img-bg:                                       #def3ff;
$card-bg:                                           #fff;

// Backgrounds
$bg-color:                                          #FFFFFF;
$bg-color-secondary:                                #fafafa;

// Custom
$btn-default-bg:                        			$brand-default;
$btn-default-color:                     			#FFF;
$btn-default-bg-hover:                  			mix($btn-default-bg, white, 80%);


