html {
  font-size: $font-base-size;
  font-family: $font-family-base;
}

body {
  background-color: $gray-lighter;
}

.container {
  display: flex;

  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}
