//== Typography

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$font-family-base: "Open Sans", sans-serif;
$font-base-size: 10px;
$font-base-color: $brand-inverse;
$link-color: $brand-primary;
$font-color-detail: $gray-light;
$font-color-headers: $brand-inverse;

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.7rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.8rem;
}

p,
span {
  font-size: 1.6rem;
}
