$primary: #fff;

.btn {
  padding: 0.9rem 2rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;

  &--primary {
    background-color: $primary;
    color: #242424;
    border: 1px solid $primary;
  }

  &--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid $primary;
    transition: all 0.3s ease-out;
  }

  &--medium {
    padding: 8px 20px;
    font-size: 18px;
    &:hover,
    &:focus {
      transition: all 0.3s ease-out;
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }

  &--large {
    padding: 12px 26px;
    font-size: 20px;
    &:hover,
    &:focus {
      transition: all 0.3s ease-out;
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }
}
