.cards {
  padding: 8rem 4rem;
  background-color: $gray-lighter;

  .cards__container {
    display: flex;
    flex-flow: column;
    //align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;

    .cards__wrapper {
      position: relative;
      margin: 5rem 0 4rem;

      .cards__items {
        margin-bottom: 2.4rem;
      }
    }
  }
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 1rem;
  background: $card-bg;

  transition: $transition-base;

  &:hover {
    transform: translateY(-0.5rem);
    .cards__item__img {
      transform: scale(1.1);
    }
  }

  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    @include shadow-default;
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;

    transition: $transition-base;

    &:hover,
    &:focus {
      @include shadow-high;
    }

    .cards__item__img-wrap {
      background-color: $card-img-bg;

      position: relative;
      width: 100%;
      padding-top: 60%;
      overflow: hidden;

      .cards__item__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: all 0.2s linear;
      }
    }

    .cards__item__info {
      padding: 20px 30px 30px;

      .cards__item__text {
        color: #252e48;
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
