.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  object-fit: contain;

  .hero-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

  & > h1 {
    font-family: "Anton", serif;
    color: #fff;
    font-size: 10rem;
    margin-top: -8rem;
    text-align: center;
    margin: 0 1rem;
  }

  & > p {
    margin-top: 1rem;
    color: #fff;
    font-size: 3rem;
    font-family: "Lobster", cursive;
  }
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 7rem;
    margin-top: -10rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 5rem;
    margin-top: -12rem;
  }
}
