.product__item {
  display: flex;
  flex: 1 1 20%;
  margin: 1rem 1rem;
  border-radius: 1rem;
  background: $card-bg;

  transition: $transition-base;

  &:hover {
    .product__item__img {
      transform: scale(1.1);
    }
  }

  .product__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    @include shadow-default;
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;

    transition: $transition-base;

    &:hover,
    &:focus {
      @include shadow-high;
    }

    .product__item__img-wrap {
      background-color: $card-img-bg;

      position: relative;
      width: 100%;
      padding-top: 60%;
      overflow: hidden;

      .product__item__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: all 0.2s linear;
      }
    }

    .product__item__info {
      padding: 20px 30px 30px;

      .product__item__text {
        color: #252e48;
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }
}
