.products__searchbar__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;

  padding: 5rem 0;

  .products__searchbar__wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    @include shadow-default;

    transition: $transition-base;

    &:hover,
    &:focus {
      @include shadow-high;
    }

    .products__searchbar {
      font-size: 1.6rem;
      height: 4rem;
      width: 100%;
      outline: none;
      border: none;
      padding-right: 1.5rem;
    }

    .products__searchbar__icon {
      color: #a0a0a0;
      font-size: 2rem;
    }
  }
}
